.about {
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 292px 352px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    background-position: bottom 82px left 108%;
    background-image: none;
  }
}

.about__inner {
  padding-top: 312px;
  padding-bottom: 84px;
  padding-left: 25px;
  padding-right: 0;

  @media (min-width: $tablet) {
    padding-top: 278px;
    padding-bottom: 88px;
    padding-left: 68px;
    box-sizing: content-box;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: bottom 90px right;
    background-size: 376px 548px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    padding-top: 132px;
    padding-left: 140px;
    padding-bottom: 163px;
    background-image: url("../img/about-desktop@1x.png");
    background-position: bottom right 70px;
    background-size: 630px 665px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }
}

.about__description {
  @media (min-width: $tablet) {
    width: 302px;
  }

  @media (min-width: $desktop) {
    width: 612px;
  }
}

.about__button {
  width: 274px;
}
