.address {
  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.address__button {
  width: 100%;

  @media (min-width: $desktop) {
    width: 324px;
    flex-shrink: 0;
  }
}

.address__text {
  margin: 0 0 31px;
  padding-left: 62px;
  min-height: 45px;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: $dark-blue-grey;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $dark-blue-grey-two;
    background-image: url("../img/contacts-location.svg");
    background-size: 14px 22px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 42px;
    padding-left: 93px;
    min-height: 67px;
    top: -2px;
    font-size: 28px;
    line-height: 1;

    &::before {
      width: 67px;
      height: 67px;
      background-size: 21px 31px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 148px;
    margin-left: 148px;
    padding-left: 122px;
    min-height: 90px;

    &::before {
      width: 90px;
      height: 90px;
      background-size: 28px 43px;
    }
  }
}
