.button {
  display: inline-block;
  padding: 14px 0 10px 0;
  border: none;
  border-radius: 20px;
  position: relative;
  background-color: $light-gold;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $dark-two;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $mango-two;
  }

  &:active {
    color: rgba($dark-two, .3);
  }
}

.button--wide {
  width: 100%;
}

.button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button--social {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $light-gold;

  .button__icon {
    fill: $dark-slate-blue;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $mango-two;
  }

  &:active {
    .button__icon {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    width: 60px;
    height: 60px;

    .button__icon {
      transform: translate(-50%, -50%) scale(1.35);
    }
  }
}

.button--intro-call {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: $mango;

  .button__icon {
    fill: $dark-two;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $dusty-orange;
  }

  &:active {
    .button__icon {
      opacity: 0.3;
    }
  }
}

.button--intro-mail {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: $mango-two;

  .button__icon {
    fill: $dark-two;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $mango;
  }

  &:active {
    .button__icon {
      opacity: 0.3;
    }
  }
}

.button--next {
  padding: 22px 55px 22px 24px;
  border-radius: 10px;
  text-transform: none;
  text-align: left;
  font-size: 18px;
  line-height: 1;
  color: $dark-slate-blue;

  &:active {
    .button__icon {
      opacity: 0.3;
    }
  }

  .button__icon {
    fill: $dark-slate-blue;
    right: 17px;
    left: auto;
  }

  @media (min-width: $tablet) {
    padding: 29px 34px 28px;
    border-radius: 20px;
    font-size: 24px;

    .button__icon {
      right: 30px;
    }
  }
}

.button--stroke {
  box-shadow: inset 0 0 0 3px $dark-blue-grey;

  &:hover,
  &:focus {
    background-color: $dark-blue-grey;
    color: $white;

    .button__icon {
      fill: $white;
    }
  }

  &:active {
    color: rgba($white, .3);

    .button__icon {
      fill: rgba($white, .3);
    }
  }
}

.button--country-filter {
  background-color: $light-periwinkle;

  .button__text {
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 12px;
      background-image: url('../img/close.svg');
    }
  }

  &:hover,
  &:focus {
    background-color: $light-blue-grey-four;

    .button__text {
      color: $dark-two;
    }
  }

  &:active {
    background-color: $light-blue-grey-four;

    .button__text {
      opacity: .3;
    }
  }
}

.button--light {
  background-color: $white;
  box-shadow: none;
  transition: box-shadow .3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $white;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, .08);
  }

  &:active {
    background-color: $macaroni-and-cheese;
    box-shadow: none;
    color: rgba($dark-two, .3);
  }
}

.button--change-avatar {
  display: block;
  width: 100%;
  background-color: $pale-grey-two;

  &:hover,
  &:focus,
  &:active {
    background-color: $light-blue-grey;
  }

  &:active {
    color: rgba($dark-slate-blue, .3);
  }

  @media (min-width: $tablet) {
    padding: 0;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 64px;
    letter-spacing: 2px;
    color: $dark-slate-blue;
  }

  @media (min-width: $desktop) {
    width: 190px;
    height: 47px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    line-height: 50px;
  }
}

.button--plan-form-next {
  display: block;
  width: 100%;
  color: $dark-slate-blue;

  .button__icon {
    display: none;
  }

  @media (min-width: $tablet) {
    display: inline-block;
    flex-shrink: 0;
    padding: 0 76px 0 34px;
    width: auto;
    border-radius: 20px;
    font-size: 24px;
    line-height: 80px;
    text-transform: none;

    &:active {
      .button__icon {
        opacity: 0.3;
      }
    }

    .button__icon {
      display: block;
      left: auto;
      right: 30px;
      fill: $dark-slate-blue;
    }
  }
}

.button--plan-form-prev {
  display: block;
  margin-top: 19px;
  padding: 0;
  width: 100%;
  background-color: $transparent;
  color: $dark-slate-blue;

  &:hover,
  &:focus {
    background-color: $transparent;
    color: rgba($dark-slate-blue, .7);

    .button__icon {
      fill: rgba($dark-slate-blue, .7);
    }
  }

  &:active {
    background-color: $transparent;
    color: rgba($dark-slate-blue, .3);

    .button__icon {
      fill: rgba($dark-slate-blue, .3);
    }
  }

  .button__icon {
    display: none;
    left: 46px;
    fill: $dark-slate-blue;
  }

  @media (min-width: $tablet) {
    display: inline-block;
    width: auto;
    flex-shrink: 0;
    margin-top: 0;
    padding-left: 76px;
    font-size: 24px;
    line-height: 80px;
    text-transform: none;

    .button__icon {
      display: block;
    }
  }
}

.button--companion-filter {
  @media (min-width: $tablet) {
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
  }
}
