.button {
  display: inline-block;
  padding: 13px 0 11px 0;
  border: none;
  border-radius: 20px;
  position: relative;
  background-color: $light-gold;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $dark-two;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $mango-two;
  }

  &:active {
    color: transparentize($dark-two, .7);
  }
}

.button--wide {
  width: 100%;
}

.button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button--social {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $light-gold;

  .button__icon {
    fill: $dark-slate-blue;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $mango-two;
  }

  &:active {
    .button__icon {
      opacity: 0.3;
    }
  }
}

.button--intro-call {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: $mango;

  .button__icon {
    fill: $dark-two;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $dusty-orange;
  }

  &:active {
    .button__icon {
      opacity: 0.3;
    }
  }
}

.button--intro-mail {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: $mango-two;

  .button__icon {
    fill: $dark-two;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $mango;
  }

  &:active {
    .button__icon {
      opacity: 0.3;
    }
  }
}
