.calendar__month {
  margin-bottom: 25px;
  padding: 11px 0 7px;
  border-top: 1px solid $light-blue-grey-five;
  border-bottom: 1px solid $light-blue-grey-five;
  text-align: center;
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
    padding: 27px 0 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.calendar__month-value {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: $dark-slate-blue;

  @media (min-width: $tablet) {
    font-size: 36px;
  }
}

.calendar__month-control {
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    .calendar__month-control-icon {
      fill: rgba($dark-slate-blue, 0.5);
    }
  }

  &:active {
    .calendar__month-control-icon {
      fill: rgba($dark-slate-blue, 0.1);
    }
  }

  @media (min-width: $tablet) {
    width: 70px;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.calendar__month-control--decrement {
  padding-right: 20px;
  left: 0;

  @media (min-width: $desktop) {
    padding-right: 80px;
  }
}

.calendar__month-control--increment {
  padding-left: 20px;
  right: 0;

  @media (min-width: $desktop) {
    padding-left: 80px;
  }
}

.calendar__month-control-icon {
  fill: rgba($dark-slate-blue, 0.3);

  @media (min-width: $tablet) {
    width: 15px;
    height: 28px;
  }

  @media (min-width: $desktop) {
    width: 18px;
    height: 34px;
  }
}

.calendar__weekdays {
  margin-bottom: 10px;
  display: flex;

  @media (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.calendar__weekdays-item-end {
  display: none;
}

.calendar__weekdays-item {
  width: 14.2857%;
  font-size: 14px;
  line-height: 1;
  text-align: center;

  &:nth-last-child(1),
  &:nth-last-child(2) {
    color: $orange-red;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    letter-spacing: 1.8px;

    .calendar__weekdays-item-end {
      display: inline-block;
    }
  }
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
}

.calendar__day-cell {
  margin-left: -1px;
  margin-top: -1px;
  width: calc(14.2857% + 1px);

  &:hover {
    z-index: 1;
  }
}

.calendar__day {
  padding: 8px 0 6px;
  border: 1px solid $cloudy-blue;
  background-color: $pale-grey;
  display: block;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding: 25px 0 23px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop) {
    padding: 14px;
    height: 72px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-align: left;
  }
}

.calendar__day-caption {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-top: 8px;
  }
}

.calendar__day-month {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}

.calendar__day-input {
  &:disabled {
    + .calendar__day {
      background-color: $white;
      color: rgba($greyish-brown, 0.3);
      cursor: auto;
    }
  }

  &:checked {
    + .calendar__day {
      background-color: $dark-blue-grey-three;
      color: $white;
    }
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    + .calendar__day {
      background-color: $dark-slate-blue;
      box-shadow: inset 0 0 0 1px $orange-red;
      border-color: $orange-red;
      color: $white;
      z-index: 1;
    }
  }
}
