.companion-filter {
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    margin-left: 85px;
    padding: 0;
    width: 285px;
    flex-shrink: 0;
  }
}

.companion-filter__inner {
  padding: 26px 25px 22px;
  background-color: $light-gold;
  border-radius: 20px;

  @media (min-width: $tablet) {
    padding: 37px 35px;
  }

  @media (min-width: $desktop) {
    padding: 48px;
  }
}

.companion-filter__title {
  margin: 0 0 22px;
  width: 120px;
  font-size: 22px;
  font-weight: 700;
  color: $dark-slate-blue;

  @media (min-width: $tablet) {
    margin: 0 0 35px;
    padding-bottom: 36px;
    width: auto;
    border-bottom: 1px solid $macaroni-and-cheese;
    font-size: 30px;
    line-height: 1;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding-bottom: 21px;
    border: none;
  }
}

.companion-filer__fields {
  margin: 0;
  border: none;

  @media (max-width: $mobile) {
    border-top: 1px solid $macaroni-and-cheese;
  }

  @media (min-width: $tablet) {
    display: flex;

    + .companion-filer__fields {
      margin-top: 26px;
    }
  }

  @media (min-width: $desktop) {
    display: block;

    + .companion-filer__fields {
      margin-top: 0;
    }
  }
}

.companion-filter__fields--opened {
  @media (max-width: $mobile), (min-width: $desktop) {
    .companion-filter__fields-container {
      display: block;
    }

    .companion-filter__toggle {
      padding-bottom: 13px;

      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.companion-filter__fields-container {
  padding-bottom: 19px;

  @media (max-width: $mobile) {
    display: none;
  }

  @media (min-width: $tablet) {
    padding: 0;
    display: flex;
    flex-grow: 1;
  }

  @media (min-width: $desktop) {
    display: none;
    padding: 10px 0 19px;
  }
}

.companion-filter__toggle {
  padding: 13px 0 9px;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: $dark-slate-blue;
  position: relative;
  outline: none;

  @media (max-width: $mobile), (min-width: $desktop) {
    cursor: pointer;
    pointer-events: auto;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      width: 8px;
      height: 4px;
      background-image: url("../img/dropdown.svg");
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
    width: 126px;
    font-size: 20px;
    font-weight: 600;
    pointer-events: none;

    &::after {
      content: ":";
    }
  }

  @media (min-width: $desktop) {
    padding: 12px 0 8px;
    width: 100%;
  }
}

.companion-filter__checkbox {
  display: block;
  cursor: pointer;


  @media (max-width: $mobile) {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  @media (min-width: $tablet) {
    width: 33.3333333%;
  }

  @media (min-width: $desktop) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }
}

.companion-filter__checkbox-input {
  outline: none;

  &:hover,
  &:focus {
    + .companion-filter__checkbox-caption {
      color: rgba($greyish-brown, 0.6);

      &::before {
        background-color: rgba($white, 0.6);
      }
    }
  }

  &:active {
    + .companion-filter__checkbox-caption {
      color: rgba($greyish-brown, 0.3);

      &::before {
        background-color: rgba($white, 0.3);
      }
    }
  }

  &:checked {
    + .companion-filter__checkbox-caption {
      &::before {
        background-image: url("../img/tick.svg");
      }
    }
  }
}

.companion-filter__checkbox-caption {
  padding-left: 27px;
  display: block;
  font-size: 15px;
  line-height: 18px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: $white;
    background-position: center center;
    background-size: 9px 9px;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    padding-left: 37px;
    font-size: 20px;
    line-height: 1.1;

    &::before {
      width: 24px;
      height: 24px;
      background-size: 12px 12px;
    }
  }
}

.companion-filter__level-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.companion-filter__level-inputs {
  display: flex;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 11px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background: linear-gradient(to bottom, $white, $white 5px, $cloudy-blue 5px, $cloudy-blue 6px, $white 6px);
  }

  @media (min-width: $tablet) {
    width: 150px;

    &::after {
      top: 50%;
      left: 50%;
      width: 23px;
      height: 17px;
      background: linear-gradient(to bottom, $white, $white 8px, $cloudy-blue 8px, $cloudy-blue 9px, $white 9px);
    }
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 36px;
  }
}

.companion-filter__level-input {
  padding: 11px 0 6px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid $cloudy-blue;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.5px;
  text-align: center;
  color: $dark-slate-blue;
  outline: none;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    margin-left: -1px;
    flex-grow: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:hover,
  &:focus {
    border-color: $bluey-grey;
    z-index: 1;
  }

  &:active {
    border-color: $dark-two;
    z-index: 1;
  }

  @media (min-width: $tablet) {
    padding: 13px 0 9px;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.companion-filter__range {
  margin: 24px 0 10px;
  height: 2px;
  background-color: rgba($dark-slate-blue, 0.2);
  position: relative;

  @media (min-width: $tablet) {
    flex-grow: 1;
    margin: 0 60px 0 0;
    height: 3px;
    border-radius: 1.5px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.companion-filter__range-fill {
  height: 2px;
  background-color: $dark-slate-blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media (min-width: $tablet) {
    height: 3px;
  }
}

.companion-filter__range-control {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $dark-slate-blue;
  box-shadow: none;
  position: absolute;
  top: -4px;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.6);
  }

  &:active {
    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
  }

  @media (min-width: $tablet) {
    width: 13px;
    height: 13px;
    top: -5px;
  }
}

.companion-filter__transports {
  display: flex;

  @media (min-width: $tablet) {
    margin-left: -4px;
  }
}

.companion-filter__action {
  @media (min-width: $tablet) {
    margin-top: 36px;
    padding-top: 28px;
    border-top: 1px solid $macaroni-and-cheese;
  }

  @media (min-width: $desktop) {
    margin-top: 30px;
    padding: 0;
    border: none;
  }
}
