.companions-page {
  padding-top: 23px;
  padding-bottom: 46px;

  @media (min-width: $tablet) {
    padding-top: 44px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop) {
    padding-top: 69px;
    padding-bottom: 77px;
    display: flex;
    flex-direction: row-reverse;
  }
}
