.companions {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -30px;
    left: -40px;
    z-index: 0;
    width: 113px;
    height: 132px;
    border-radius: 20px;
    background-color: $dark-blue-grey-four;
  }

  @media (min-width: $tablet) {
    &:before {
      top: -70px;
      left: 40px;
      width: 213px;
      height: 213px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 65px;
    display: flex;
    flex-direction: column;

    &:before {
      top: -60px;
      left: 60px;
      width: 213px;
      height: 213px;
    }
  }
}

.companions__inner {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet) {
    padding: 0 35px;
  }
}

.companions__title {
  @media (min-width: $desktop) {
    order: 1;
  }
}

.companions__description {
  @media (min-width: $desktop) {
    order: 2;
  }
}

.companions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 690px;
    width: 630px;
  }
}

.companions__item {
  @media (max-width: $mobile) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $tablet) {
    margin: 0;
    width: calc(50% - 24px);
  }

  @media (min-width: $desktop) {
    width: calc(50% - 30px);
  }
}

.companions__actions {
  @media (min-width: $desktop) {
    order: 3;
  }
}

.companions__action {
  width: 100%;

  @media (min-width: $desktop) {
    width: 280px;
  }
}
