.country-filter {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.country-filter--opened {
  padding-bottom: 7px;

  .country-filter__toggle {
    &::after {
      width: 12px;
      height: 12px;
      background-image: url("../img/filter-close.svg");
      background-size: 12px 12px;
    }
  }

  .country-filter__continents,
  .country-filter__actions {
    display: block;
  }

  .country-filter__hide-button {
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width: $tablet) {
    .country-filter__toggle {
      padding: 0 87px 0 0;

      &::before {
        content: "свернуть";
      }

      &::after {
        top: -1px;
        width: 19px;
        height: 19px;
        background-image: url("../img/close.svg");
        background-size: 19px 19px;
      }
    }

    .country-filter__continents {
      display: flex;
    }

    .country-filter__actions {
      display: flex;
      align-items: flex-start;
      margin-bottom: 65px;
    }

    .country-filter__hide-button {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop) {
    .country-filter__actions {
      display: block;
      align-items: flex-start;
      margin-bottom: 35px;
    }
  }
}

.country-filter__title {
  padding-left: 27px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: $dark-blue-grey;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 10px;
    background-image: url("../img/filter.svg");
  }

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    margin-left: 20px;
    margin-right: 35px;
    padding-left: 44px;
    display: block;
    font-size: 20px;
    line-height: 1.1;

    &::before {
      width: 23px;
      height: 15px;
    }

    &::after {
      content: ":";
    }
  }
}

.country-filter__toggle {
  margin-left: auto;
  padding: 0 17px 0 0;
  background-color: transparent;
  border: none;
  font-family: $base-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: $dark-blue-grey;
  cursor: pointer;
  outline: none;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    font-family: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 12px;
    background-image: url("../img/dots.svg");
    background-repeat: no-repeat;
    background-position-y: center;
  }

  @media (min-width: $tablet) {
    order: 2;
    padding: 0 48px 0 0;
    height: 20px;

    &::before {
      content: "показать все";
    }

    &::after {
      top: 7px;
      width: 27px;
      height: 5px;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 68px;
  }
}

.country-filter__toggle-text {
  display: none;
}

.country-filter__actions {
  display: none;
  padding: 0 25px;
  width: 100%;

  @media (min-width: $tablet) {
    order: 3;
    margin-top: 60px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 76px;
  }
}

.country-filter__alphabet {
  margin-bottom: 11px;
  padding-left: 1px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: $mobile) {
    background-color: $white;
  }

  @media (min-width: $tablet) {
    margin: 0 0 -30px;
    padding-right: 45px;
  }

  @media (min-width: $desktop) {
    padding-left: 35px;
  }
}

.country-filter__alphabet-item {
  width: 20%;

  &:hover {
    z-index: 1;
  }

  @media (max-width: $mobile) {
    margin-left: -1px;
    margin-top: -1px;
    width: calc(20% + 1px);
  }

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 58px;
  }
}

.country-filter__alphabet-link {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-slate-blue;
  outline: none;

  @media (max-width: $mobile) {
    border: 1px solid $cloudy-blue;
    background-color: $white;
    text-align: center;

    &:hover,
    &:focus {
      border-color: $bluey-grey;
    }

    &:active {
      border-color: $dark-slate-blue;
      background-color: $dark-slate-blue;
      color: $white;
    }
  }

  @media (min-width: $tablet) {
    font-size: 60px;
    font-weight: 700;
    line-height: 54px;
    color: rgba($dark-blue-grey, 0.2);

    &:hover,
    &:focus {
      color: rgba($dark-blue-grey, 0.6);
    }

    &:active {
      color: $dark-blue-grey;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 38px;
    color: $dark-blue-grey;
    pointer-events: none;

    &:hover,
    &:focus,
    &:active {
      color: $dark-blue-grey;
    }
  }
}

.country-filter__alphabet-link--active {
  z-index: 1;

  @media (max-width: $mobile) {
    border-color: $dark-slate-blue;
    background-color: $dark-slate-blue;
    color: $white;
  }

  @media (min-width: $tablet) {
    color: $dark-blue-grey;
  }
}

.country-filter__alphabet-countries {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.country-filter__continents {
  display: none;
  margin: 33px 0 22px;
  padding: 0 0 0 25px;
  width: 100%;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    order: 1;
    margin: 0;
    padding: 0;
    width: auto;
  }
}

.country-filter__continents-item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }
}

.country-filter__continents-link {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba($dark-blue-grey, 0.3);
  outline: none;

  &:hover,
  &:focus {
    color: rgba($dark-blue-grey, 0.6);
  }

  &:active {
    color: $dark-blue-grey;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.country-filter__continents-link--active {
  color: $dark-blue-grey;
}

.country-filter__countries-list {
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    margin: 0;
    width: 175px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.country-filter__hide-button {
  display: none;

  @media (min-width: $tablet) {
    order: 4;
  }
}
