.countries-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.countries-list__item {
  @media (min-width: $tablet) {
    + .countries-list__item {
      margin-top: 7px;
    }
  }
}

.countries-list__link {
  text-decoration: none;
  color: inherit;
  outline: none;

  &:hover,
  &:focus {
    color: $dark-slate-blue;
  }

  &:active {
    color: rgba($dark-slate-blue, .3);
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}
