.directions {
  position: relative;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.directions__title {
  @media (min-width: $desktop) {
    order: 1;
  }
}

.directions__description {
  @media (min-width: $desktop) {
    order: 2;
  }
}

.directions__actions {
  @media (min-width: $desktop) {
    order: 3;
  }
}

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  &:after {
    content: '';
    height: 90px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), $pale-grey);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 251px;
    left: 130px;
    width: 560px;
  }
}

.directions__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.directions__button {
  width: 100%;

  @media (min-width: $desktop) {
    width: 275px;
  }
}
