.main-nav {
  padding: 27px 0 26px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  position: relative;

  @media (min-width: $tablet) {
    padding: 40px 0;
  }
}

.main-nav--opened {
  .main-nav__logo {
    background-image: url("../img/logo-mobile-blue@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-mobile-blue@2x.png");
    }
  }

  .main-nav__links,
  .main-nav__contacts,
  .main-nav__auth {
    display: block;
  }

  .main-nav__socials {
    display: flex;
  }

  .main-nav__toggle {
    &::before,
    &::after {
      background-color: $pinkish-grey;
    }

    &::before {
      transform: rotate(45deg) translateX(2px);
    }

    &::after {
      margin-top: 0;
      transform: rotate(-45deg) translateX(2px);
    }
  }

  @media (min-width: $tablet) {
    .main-nav__logo {
      background-image: url("../img/logo-tablet-blue@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-tablet-blue@2x.png");
      }
    }
  }

  @media (min-width: $desktop) {
    .main-nav__logo {
      background-image: url("../img/logo-desktop-white@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-desktop-white@2x.png");
      }
    }

    .main-nav__links,
    .main-nav__contacts {
      display: flex;
    }

    .main-nav__socials {
      display: none;
    }
  }
}

.main-nav--page-scrolled {
  .main-nav__logo {
    background-image: url("../img/logo-mobile-blue@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-mobile-blue@2x.png");
    }
  }

  .main-nav__toggle {
    &::before,
    &::after {
      background-color: $pinkish-grey;
    }
  }

  @media (min-width: $tablet) {
    .main-nav__logo {
      background-image: url("../img/logo-tablet-blue@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-tablet-blue@2x.png");
      }
    }
  }

  @media (min-width: $desktop) {
    .main-nav__logo {
      background-image: url("../img/logo-desktop-blue@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-desktop-blue@2x.png");
      }
    }

    .main-nav__links {
      &::before {
        background-color: $dark-blue-grey;
      }
    }

    .main-nav__link {
      color: $dark-blue-grey;

      &:hover,
      &:focus {
        color: $dark-blue-grey;
      }

      &:active {
        color: $light-gold;
      }
    }

    .main-nav__link--active {
      color: $light-gold;
    }
  }
}

.main-nav__logo {
  order: 1;
  width: 100px;
  height: 19px;
  display: block;
  background-image: url("../img/logo-mobile-white@1x.png");
  background-repeat: no-repeat;
  background-size: 100px 19px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/logo-mobile-white@2x.png");
  }

  @media (min-width: $tablet) {
    width: 164px;
    height: 42px;
    background-image: url("../img/logo-tablet-white@1x.png");
    background-size: 164px 42px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-tablet-white@2x.png");
    }
  }

  @media (min-width: $desktop) {
    width: 200px;
    height: 52px;
    background-image: url("../img/logo-desktop-white@1x.png");
    background-size: 200px 52px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-desktop-white@2x.png");
    }
  }
}

.main-nav__links {
  order: 3;
  display: none;
  margin: 75px 0 53px;
  padding: 0;
  width: 100%;
  list-style: none;

  @media (min-width: $tablet) {
    margin: 98px 0 142px;
    padding-left: 57px;
  }

  @media (min-width: $desktop) {
    order: 2;
    margin: 0;
    padding-top: 11px;
    padding-left: 143px;
    display: flex;
    width: auto;
    position: relative;

    &::before {
      content: "";
      height: 2px;
      width: 60px;
      background-color: $white;
      position: absolute;
      top: 18px;
      left: 40px;
    }
  }
}

.main-nav__links-item {
  + .main-nav__links-item {
    margin-top: 5px;

    @media (min-width: $tablet) {
      margin-top: 10px;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
      margin-left: 36px;
    }
  }

  @media (min-width: $desktop) {
    overflow: hidden;
  }
}

.main-nav__link {
  display: block;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $dark-blue-grey;

  &:hover,
  &:focus {
    color: rgba($dark-blue-grey, 0.6);
  }

  &:active {
    color: rgba($dark-blue-grey, 0.3);
  }

  @media (min-width: $tablet) {
    font-size: 60px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    color: $white;
    transform: none;
    transition: transform 0.2s ease-in-out;
    position: relative;

    &::after {
      content: attr(data-clone);
      position: absolute;
      bottom: -100%;
      left: 0;
    }

    &:hover,
    &:focus {
      color: $white;
      transform: translateY(-100%);
    }

    &:active {
      color: $light-gold;
    }
  }
}

.main-nav__link--active {
  color: rgba($dark-blue-grey, 0.3);
  pointer-events: none;

  @media (min-width: $desktop) {
    color: $light-gold;
  }
}

.main-nav__toggle {
  order: 2;
  margin-left: auto;
  width: 25px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  outline: none;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: $white;
  }

  &::after {
    margin-top: 5px;
  }

  @media (min-width: $tablet) {
    position: absolute;
    top: 57px;
    left: 50%;
    margin-left: -12px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.main-nav__auth {
  order: 4;
  display: none;

  @media (min-width: $tablet) {
    order: 2;
    display: block;
    margin-left: auto;
    width: 188px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    order: 4;
    margin: 3px 0 0;
  }
}

.main-nav__contacts {
  order: 5;
  display: none;
  margin-top: 50px;
  width: 100%;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding-left: 57px;
  }

  @media (min-width: $desktop) {
    order: 3;
    display: flex;
    margin-left: auto;
    width: auto;
  }
}

.main-nav__contacts-link {
  padding-left: 62px;
  height: 45px;
  display: block;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: $dark-blue-grey;
  outline: none;

  &:hover,
  &:focus {
    color: rgba($dark-blue-grey, 0.6);

    .main-nav__contacts-icon {
      fill: $mango-two;
    }
  }

  &:active {
    color: rgba($dark-blue-grey, 0.3);

    .main-nav__contacts-icon {
      fill: rgba($mango-two, 0.3);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $dark-blue-grey-two;
  }

  @media (min-width: $tablet) {
    padding-left: 91px;
    height: 67px;
    font-size: 28px;
    line-height: 70px;

    &::before {
      width: 67px;
      height: 67px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      .main-nav__contacts-icon {
        fill: $dark-two;
      }
    }

    &:active {
      .main-nav__contacts-icon {
        fill: rgba($dark-two, 0.3);
      }
    }
  }
}

.main-nav__contacts-link--phone {
  @media (min-width: $desktop) {
    background-color: $mango;

    &:hover,
    &:focus,
    &:active {
      background-color: $dusty-orange;
    }
  }
}

.main-nav__contacts-link--mail {
  @media (min-width: $desktop) {
    background-color: $mango-two;

    &:hover,
    &:focus,
    &:active {
      background-color: $mango;
    }
  }
}

.main-nav__contacts-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  fill: $light-gold;

  @media (min-width: $tablet) {
    width: 27px;
    height: 27px;
    left: 20px;
  }

  @media (min-width: $desktop) {
    width: 18px;
    height: 18px;
    left: 16px;
    fill: $dark-two;
  }
}

.main-nav__contacts-icon--mobile {
  @media (min-width: $desktop) {
    display: none;
  }
}

.main-nav__contacts-icon--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.main-nav__contacts-link-text {
  @media (min-width: $desktop) {
    display: none;
  }
}

.main-nav__socials {
  order: 6;
  display: none;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  @media (min-width: $tablet) {
    margin-top: 119px;
    padding-left: 67px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.no-js {
  .main-nav__logo {
    background-image: url("../img/logo-mobile-blue@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-mobile-blue@2x.png");
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__links,
  .main-nav__contacts,
  .main-nav__auth {
    display: block;
  }

  .main-nav__socials {
    display: flex;
  }

  @media (min-width: $tablet) {
    .main-nav__logo {
      background-image: url("../img/logo-tablet-blue@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-tablet-blue@2x.png");
      }
    }
  }

  @media (min-width: $desktop) {
    .main-nav__logo {
      background-image: url("../img/logo-desktop-white@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-desktop-blue@2x.png");
      }
    }

    .main-nav__links,
    .main-nav__contacts {
      display: flex;
    }

    .main-nav__socials {
      display: none;
    }
  }
}
