.map {
  height: 334px;
  position: relative;

  @media (min-width: $tablet) {
    height: 580px;
  }

  @media (min-width: $desktop) {
    height: 516px;
  }
}

.map__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
