.page-section {
  padding: 0 25px;
}

.page-section__title {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $mango;
}

.page-section__description {
  color: $white;
}

.page-section__paragraph {
  margin: 0;
  font-weight: 300;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }
}

.page-section__paragraph--bold {
  font-weight: 700;
}

.page-section--about {
  margin-bottom: -30px;
  padding: 326px 50px 84px;
  background: $dark-blue-grey url('../../img/about-mobile@1x.png') no-repeat center bottom;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 1;
}

.page-section--directions {
  padding: 102px 25px 0;
  background-color: $pale-grey;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $pale-grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .page-section__title {
    padding: 0 25px;
  }

  .page-section__description {
    margin-bottom: 66px;
    padding: 0 25px;
    color: $greyish-brown;
  }

  .page-section__actions {
    margin-top: 25px;
  }
}

.page-section--companions {
  padding-top: 103px;
  position: relative;
  background-color: $dark-blue-grey;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $dark-blue-grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .page-section__title {
    padding: 0 25px;
  }

  .page-section__description {
    margin-bottom: 60px;
    padding: 0 25px;
  }

  .page-section__actions {
    margin-top: 20px;
  }
}

.page-section--tariffs {
  padding: 82px 25px 8px 50px;

  background-color: $pale-grey;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $pale-grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .page-section__title {
    margin-bottom: 44px;
    max-width: 102px;
    text-align: left;
  }

  .page-section__actions {
    margin-top: 30px;
  }
}
