.page-section {
  padding: 0 25px;
}

.page-section__title {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: $mango;

  @media (min-width: $tablet) {
    font-size: 45px;
  }
}

.page-section__description {
  color: $white;
}

.page-section__paragraph {
  margin: 0;
  font-weight: 300;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 33px;
  }
}

.page-section__paragraph--secondary {
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 21px;
    line-height: 25px;
  }
}

.page-section--intro {
  padding: 0;
  background-color: $dark-two;

  @media (min-width: $tablet) {
    background-color: $dark-blue-grey;
  }

  @media (min-width: $desktop) {
    background-color: $dark-two;
    background-image: url(../img/traveller-illustration-desktop@1x.png), url(../img/globe-back-desktop@1x.jpg);
    background-repeat: no-repeat no-repeat;
    background-position: bottom right 41%, center;
    background-size: auto, cover;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;
    z-index: 2;
  }
}

.page-section--about {
  padding: 0;
  background-color: $dark-blue-grey;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 305px;
    left: 0;
    z-index: -1;
    width: 113px;
    height: 132px;
    border-radius: 20px;
    background-color: $dark-blue-grey-four;
  }

  .page-section__actions {
    display: none;
  }

  @media (min-width: $tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    &:before {
      top: 235px;
      left: 40px;
      right: 40px;
      width: auto;
      height: 212px;
    }

    .page-section__title {
      margin-bottom: 42px;
    }

    .page-section__actions {
      display: block;
      margin-top: 52px;
    }
  }

  @media (min-width: $desktop) {
    box-shadow: 0 -60px $dark-blue-grey;

    &:before {
      top: 75px;
      left: 60px;
      right: auto;
      width: 213px;
      height: 213px;
    }

    .page-section__title {
      margin-bottom: 60px;
    }

    .page-section__actions {
      margin-top: 86px;
    }
  }
}

.page-section--directions {
  padding: 72px 25px 0;
  background-color: $pale-grey;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $pale-grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .page-section__title {
    padding: 0 25px;
  }

  .page-section__description {
    margin-bottom: 66px;
    padding: 0 25px;
    color: $greyish-brown;
  }

  .page-section__actions {
    margin-top: 25px;
  }

  @media (min-width: $tablet) {
    padding: 72px 75px 0;

    &:after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    .page-section__title {
      padding: 0;
      margin-bottom: 62px;
    }

    .page-section__description {
      margin-bottom: 113px;
      max-width: 340px;
    }

    .page-section__description {
      padding: 0;
    }

    .page-section__actions {
      margin-top: 47px;
    }
  }

  @media (min-width: $desktop) {
    padding: 160px 60px 65px 130px;
    box-sizing: content-box;
    min-height: 450px;

    .page-section__title {
      margin-left: 735px;
    }

    .page-section__description {
      margin-bottom: 0;
      margin-left: 735px;
    }

    .page-section__actions {
      margin-top: auto;
      margin-left: 735px;
    }
  }
}

.page-section--companions {
  padding-top: 103px;
  position: relative;
  background-color: $dark-blue-grey;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $dark-blue-grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .page-section__title {
    padding: 0 25px;
  }

  .page-section__description {
    box-sizing: content-box;
    margin-bottom: 60px;
    padding: 0 25px;
    width: 215px;
  }

  .page-section__actions {
    margin-top: 20px;
  }

  @media (min-width: $tablet) {
    padding: 203px 75px 22px;

    &:after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    .page-section__title {
      margin-bottom: 60px;
      padding: 0;
    }

    .page-section__description {
      margin-bottom: 60px;
      padding: 0;
      width: 425px;
    }

    .page-section__actions {
      margin-top: 80px;
    }
  }

  @media (min-width: $desktop) {
    padding: 191px 60px 54px 132px;
    box-sizing: content-box;
    min-height: 485px;

    .page-section__title {
      margin-bottom: 60px;
      margin-right: 690px;
      padding: 0;
    }

    .page-section__description {
      margin-bottom: 60px;
      margin-right: 690px;
      padding: 0;
    }

    .page-section__actions {
      margin-top: auto;
      margin-right: 690px;
    }
  }
}

.page-section--tariffs {
  padding: 82px 25px 8px 50px;

  background-color: $pale-grey;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $pale-grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .page-section__title {
    margin-bottom: 44px;
    max-width: 102px;
    text-align: left;
  }

  @media (min-width: $tablet) {
    padding: 135px 40px 0 40px;

    .page-section__title {
      margin-bottom: 74px;
      max-width: none;
      text-align: center;
    }

    &:after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding: 160px 132px 0 132px;
  }
}

.page-section--sign-up {
  padding-top: 102px;
  background-color: $dark-blue-grey;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $dark-blue-grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .page-section__title {
    text-align: center;
  }

  .page-section__description {
    margin-bottom: 32px;
    text-align: center;
  }

  @media (min-width: $tablet) {
    padding: 137px 75px 0;

    &:after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    .page-section__title {
      margin-bottom: 60px;
    }

    .page-section__description {
      margin-bottom: 67px;
    }
  }

  @media (min-width: $desktop) {
    padding: 168px 132px 44px;
  }
}

.page-section--address {
  padding-top: 62px;
  background-color: $light-gold;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $light-gold;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $tablet) {
    padding: 106px 75px 0;

    &:after {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding: 114px 133px 0;
  }
}

.page-section__country-filter {
  padding-top: 20px;
  padding-bottom: 17px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $pale-grey-four;
  box-shadow: 0 -20px $pale-grey-four;
  position: relative;

  @media (min-width: $tablet) {
    padding: 60px 75px 55px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 -60px $pale-grey-four;
  }
}

.page-section--plans {
  padding-bottom: 56px;
  background-color: $pale-grey-two;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $pale-grey-two;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  @media (min-width: $tablet) {
    padding: 25px 75px 104px;

    .page-section__title {
      margin-bottom: 56px;
      font-size: 36px;
    }
  }

  @media (min-width: $desktop) {
    padding: 0 60px 122px 124px;

    &:before {
      top: -60px;
      height: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
    }
  }
}

.page-section__title--blue {
  color: $dark-slate-blue;
}

.page-section--plan-form {
  padding-bottom: 44px;
  background-color: $light-blue-grey-five;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: inherit;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: inherit;
  }

  @media (min-width: $tablet) {
    padding: 30px 75px 62px;

    .page-section__title {
      margin-bottom: 60px;
      font-size: 36px;
    }

    &:after {
      bottom: -60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding: 0 60px 72px;

    &:before {
      top: -60px;
      height: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
    }

    .page-section__title {
      padding-left: 65px;
    }
  }
}

.page-section__steps {
  position: absolute;
  top: 9px;
  right: 42px;
}
