.page-content {
  padding-top: 72px;
  padding-bottom: 30px;
  background-color: $pale-grey;

  @media (min-width: $tablet) {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

.page-content--index {
  padding-bottom: 0;
}

.no-js {
  .page-content {
    padding-top: 0;
  }
}
