.page-footer {
  padding: 8px 25px 0;
  background-color: $white;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  @media (min-width: $tablet) {
    padding: 0 40px 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before {
      top: -60px;
      height: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding: 0 60px 46px;
  }
}

.page-footer__logo {
  margin-bottom: 41px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-top: -10px;
    margin-bottom: 0;
    width: 170px;
    justify-content: flex-start;
    z-index: 2;
  }
}

.page-footer__socials {
  margin-bottom: 37px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-top: -10px;
    margin-bottom: 0;
    z-index: 2;
  }
}

.page-footer__development {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $pale-grey;
  text-decoration: none;
  color: $greyish-brown;
  outline: none;

  &:hover,
  &:focus {
    .page-footer__development-caption,
    .page-footer__development-icon {
      opacity: .6;
    }
  }

  &:active {
    .page-footer__development-caption,
    .page-footer__development-icon {
      opacity: .3;
    }
  }

  @media (min-width: $tablet) {
    margin-top: -10px;
    padding: 0;
    width: 170px;
    border-top: none;
    justify-content: flex-end;
  }
}

.page-footer__development-caption {
  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.page-footer__development-icon {
  fill: $dark-blue-grey;

  @media (min-width: $tablet) {
    margin-left: 24px;
  }
}
