.plan-form {

}

.plan-form__step {
  padding: 25px 25px 20px;
  border-radius: 10px;
  background-color: $white;

  + .plan-form__step {
    margin-top: 10px;
  }
}

.plan-form__step-title {
  margin: 0 0 18px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: $dark-slate-blue;
}

.plan-form__step-number {
  display: block;
}

.plan-form__description {
  margin: 0 0 25px;
}

.plan-form__field-wrap {
  margin-bottom: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  color: $dark-slate-blue;
}

.plan-form__field {
  margin-top: 8px;
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.plan-form__field-units {
  color: rgba($dark-slate-blue, .3);
}

.plan-form__field-input {
  display: block;
  width: 100%;
  padding: 12px 0;
  border: 1px solid $cloudy-blue;
  border-radius: 4px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: center;
  color: inherit;
  outline: none;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:hover,
  &:focus {
    border-color: $bluey-grey;

    ~ .plan-form__field-control {
      .plan-form__field-control-icon {
        fill: $bluey-grey;
      }
    }
  }

  &:active {
    border-color: $dark-two;

    ~ .plan-form__field-control {
      .plan-form__field-control-icon {
        fill: $dark-two;
      }
    }
  }
}

.plan-form__field-control {
  padding: 0;
  width: 42px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    .plan-form__field-control-icon {
      fill: $bluey-grey;
    }
  }

  &:active {
    .plan-form__field-control-icon {
      fill: rgba($dark-two, .1);
    }
  }
}

.plan-form__field-control--decrement {
  left: 0;
}

.plan-form__field-control--increment {
  right: 0;
}

.plan-form__field-control-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $cloudy-blue;
}

.plan-form__checkbox-wrap {
  margin-bottom: 21px;
}

.plan-form__checkbox {
  display: block;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
}

.plan-form__checkbox-input {
  outline: none;

  &:hover,
  &:focus {
    + .plan-form__checkbox-caption {
      &:before {
        border-color: $bluey-grey;
      }
    }
  }

  &:active {
    + .plan-form__checkbox-caption {
      &:before {
        background-color: $pale-grey-three;
      }
    }
  }

  &:checked {
    + .plan-form__checkbox-caption {
      &:before {
        background-image: url('../img/tick.svg');
      }
    }
  }
}

.plan-form__checkbox-caption {
  padding-left: 39px;
  display: block;
  font-size: 15px;
  line-height: 26px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 26px;
    height: 26px;
    border: 1px solid $cloudy-blue;
    border-radius: 4px;
    background-color: $white;
    background-position: center center;
    background-size: 9px 9px;
    background-repeat: no-repeat;
  }
}
