.route {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;

  @media (min-width: $tablet) {
    padding-top: 40px;
    border-top: 1px solid $cloudy-blue;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -50px;
      right: 135px;
      width: 1px;
      background-image: linear-gradient(to top, $transparent, $cloudy-blue 50px);
      pointer-events: none;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 60px;

    &::before {
      bottom: -135px;
      right: 226px;
    }
  }
}

.route__item {
  display: flex;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid $cloudy-blue;
    border-radius: 50%;
    top: 17px;
    right: 50px;
    background-color: $white;
    pointer-events: none;
  }

  + .route__item {
    margin-top: 22px;
  }

  @media (max-width: $mobile) {
    + .route__item {
      &::before {
        content: "";
        position: absolute;
        top: -16px;
        right: 50px;
        width: 5px;
        height: 10px;
        background-image: url("../img/small-arrow.svg");
      }
    }
  }

  @media (min-width: $tablet) {
    + .route__item {
      margin-top: 15px;
    }

    &::after {
      width: 15px;
      height: 15px;
      top: 27px;
      right: 128px;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      right: 219px;
    }
  }
}

.route__item--active {
  @media (max-width: $mobile) {
    .route__item-remove {
      display: none;
    }

    .route__flag {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.route__item--choosen {
  &::after {
    background-color: $dark-slate-blue;
    border-color: $dark-slate-blue;
  }
}

.route__item--add {
  &::after {
    background-color: $pale-grey;
  }
}

.route__item-remove {
  padding: 0;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: $pale-grey;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    .route__item-remove-icon {
      fill: rgba($dark-slate-blue, 0.1);
    }
  }

  &:active {
    .route__item-remove-icon {
      fill: rgba($dark-slate-blue, 0.05);
    }
  }

  @media (min-width: $tablet) {
    width: 41px;
    height: 47px;
    border-radius: 0;
    top: 11px;
    background-color: $transparent;

    .route__item-remove-icon {
      width: 17px;
      height: 17px;
    }
  }
}

.route__item-remove-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba($dark-slate-blue, 0.3);
}

.route__btn {
  display: block;
  padding: 0 12px;
  width: 100%;
  height: 42px;
  border: 1px solid $cloudy-blue;
  border-radius: 4px;
  background-color: $white;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: left;
  color: $dark-slate-blue;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 27px;
    width: calc(100% - 162px);
    height: 70px;
    font-size: 20px;
    line-height: 72px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop) {
    width: calc(100% - 270px);
  }
}

.route__btn-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 100%;
    background-image: linear-gradient(to right, $transparent, $white 20px, $white);
  }
}

.route__btn--choose {
  .route__btn-icon--arrow {
    fill: rgba($dark-slate-blue, 0.3);
  }

  &:hover,
  &:focus {
    border-color: $bluey-grey;

    .route__btn-icon--arrow {
      fill: rgba($dark-slate-blue, 0.5);
    }
  }
}

.route__btn--active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: $white;
  background-color: $dark-slate-blue;
  border-color: $dark-slate-blue;

  .route__btn-text {
    &::after {
      display: none;
    }
  }

  .route__btn-icon--arrow {
    display: none;
  }

  .route__btn-icon--close {
    display: block;
    fill: rgba($white, 0.3);
  }

  &:hover,
  &:focus {
    border-color: $dark-slate-blue;

    .route__btn-icon--close {
      fill: $white;
    }
  }

  &:active {
    border-color: $dark-slate-blue;

    .route__btn-icon--close {
      fill: rgba($white, 0.1);
    }
  }
}

.route__btn--add {
  border-color: $pale-grey;
  background-color: $pale-grey;

  .route__btn-icon--plus {
    top: 13px;
    fill: rgba($dark-slate-blue, 0.2);
  }

  &:hover,
  &:focus {
    background-color: $pale-grey-two;
    border-color: $pale-grey-two;

    .route__btn-icon--plus {
      fill: rgba($dark-slate-blue, 0.3);
    }
  }

  &:active {
    background-color: $pale-grey-two;
    border-color: $pale-grey-two;
    color: rgba($dark-slate-blue, 0.3);

    .route__btn-icon--plus {
      fill: rgba($dark-slate-blue, 0.1);
    }
  }

  @media (min-width: $tablet) {
    .route__btn-icon--plus {
      width: 20px;
      height: 20px;
      top: 24px;
      right: 23px;
    }
  }
}

.route__btn-icon {
  position: absolute;
  right: 13px;
}

.route__btn-icon--arrow {
  top: 17px;
  fill: rgba($dark-slate-blue, 0.3);

  @media (min-width: $tablet) {
    width: 17px;
    height: 9px;
    top: 30px;
    right: 25px;
  }
}

.route__btn-icon--close {
  top: 16px;
  display: none;

  @media (min-width: $tablet) {
    width: 17px;
    height: 17px;
    top: 25px;
    right: 25px;
  }
}

.route__flag {
  @media (max-width: $mobile) {
    flex-shrink: 0;
    margin-left: -1px;
    padding: 8px 9px;
    border: 1px solid $cloudy-blue;
    border-radius: 4px;
  }
}

.route__flag-img {
  display: block;
  width: 35px;
  height: 24px;
  border-radius: 4px;

  @media (min-width: $tablet) {
    width: 70px;
    height: 47px;
    position: absolute;
    top: 12px;
    right: 42px;
  }

  @media (min-width: $desktop) {
    right: 116px;
  }
}

.route__countries {
  display: none;
  background-color: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 1;
}

.route__countries--opened {
  display: block;
  box-shadow: 0 20px 50px 0 rgba($dark-slate-blue, 0.1);

  @media (min-width: $tablet) {
    display: flex;
    top: 70px;
    right: -42px;
    overflow: hidden;
  }

  @media (min-width: $desktop) {
    width: calc(100% - 270px);
  }
}

.route__countries-alphabet {
  padding-top: 1px;
  padding-left: 1px;
  background-color: $white;

  @media (min-width: $tablet) {
    padding: 34px 79px 96px 27px;
    width: calc(100% - 205px);
  }

  @media (min-width: $desktop) {
    padding: 34px 102px 34px 27px;
    width: calc(100% - 240px);
  }
}

.route__countries-alphabet-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (min-width: $desktop) {
    margin: -7.5px;
  }
}

.route__countries-alphabet-item {
  margin-left: -1px;
  margin-top: -1px;
  width: calc(20% + 1px);
  border: 1px solid $cloudy-blue;
  font-size: 14px;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $dark-slate-blue;
  outline: none;

  &:hover,
  &:focus {
    border-color: $bluey-grey;
    z-index: 1;
  }

  &:active {
    border-color: $dark-slate-blue;
    background-color: $dark-slate-blue;
    color: $white;
    z-index: 1;
  }

  @media (min-width: $tablet) {
    height: 70px;
    font-size: 20px;
    line-height: 70px;
  }

  @media (min-width: $desktop) {
    margin: 7.5px;
    width: calc(20% - 15px);
    border-radius: 4px;
  }
}

.route__countries-list {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  border: 1px solid $cloudy-blue;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (min-width: $tablet) {
    padding: 30px 25px 15px;
    flex-grow: 1;
    border-radius: 0;
    border: none;
    border-left: 1px solid rgba($dark-slate-blue, 0.1);
  }
}

.route__countries-list-item {
  @media (min-width: $tablet) {
    margin-bottom: 6px;
  }
}

.route__countries-list-link {
  text-decoration: none;
  color: inherit;
  outline: none;

  &:hover,
  &:focus {
    color: $dark-slate-blue;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}
