.show-more {
  margin: 24px 0 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-slate-blue;
  outline: none;

  &:hover,
  &:focus {
    color: rgba($dark-slate-blue, .6);

    .show-more__icon {
      fill: rgba($dark-slate-blue, .6);
    }
  }

  &:active {
    color: rgba($dark-slate-blue, .3);

    .show-more__icon {
      fill: rgba($dark-slate-blue, .3);
    }
  }

  @media (min-width: $tablet) {
    margin: 48px 0 46px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin: 68px 0 66px;
  }
}

.show-more__icon {
  margin-right: 15px;
  width: 18px;
  height: 18px;
  fill: $dark-slate-blue;

  @media (min-width: $tablet) {
    margin-right: 25px;
    width: 27px;
    height: 27px;
  }
}

.show-more__text {
  display: inline-block;
  padding-top: 3px;
}
