.sign-up__links {
  margin-top: 18px;

  @media (min-width: $tablet) {
    margin-top: 42px;
  }

  @media (min-width: $desktop) {
    margin-top: 44px;
    display: flex;
    justify-content: center;
  }
}

.sign-up__link {
  padding-left: 62px;
  min-height: 45px;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: $light-gold;
  outline: none;

  &:hover,
  &:focus {
    color: $mango-two;
  }

  &:active {
    color: rgba($mango-two, 0.3);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $dark-blue-grey-two;
  }

  @media (min-width: $tablet) {
    padding-left: 91px;
    min-height: 67px;
    font-size: 28px;
    line-height: 1;

    &::before {
      width: 67px;
      height: 67px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 122px;
    min-height: 90px;

    &::before {
      width: 90px;
      height: 90px;
      top: -2px;
    }
  }
}

.sign-up__link-mail {
  &::before {
    background-image: url("../img/contacts-mail.svg");
    background-size: 18px 13px;
  }

  &:hover,
  &:focus {
    &::before {
      background-image: url("../img/contacts-mail-hover.svg");
    }
  }

  &:active {
    &::before {
      background-image: url("../img/contacts-mail-active.svg");
    }
  }

  @media (min-width: $tablet) {
    &::before {
      background-size: 27px 19px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      background-size: 36px 26px;
    }
  }
}

.sign-up__link-phone {
  &::before {
    background-image: url("../img/contacts-phone.svg");
    background-size: 18px 18px;
  }

  &:hover,
  &:focus {
    &::before {
      background-image: url("../img/contacts-phone-hover.svg");
    }
  }

  &:active {
    &::before {
      background-image: url("../img/contacts-phone-active.svg");
    }
  }

  @media (min-width: $tablet) {
    &::before {
      background-size: 27px 27px;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 110px;

    &::before {
      background-size: 36px 36px;
    }
  }
}

.sign-up__form {
  margin-top: 29px;
  margin-bottom: 29px;
  position: relative;

  @media (min-width: $tablet) {
    margin-top: 62px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    margin-top: 57px;
    margin-bottom: 70px;
  }
}

.sign-up__form--error {
  .sign-up__input {
    background-color: $very-light-pink;
    border-color: $very-light-pink;
    color: $red;

    &::placeholder {
      color: $red;
    }
  }
}

.sign-up__input {
  padding: 0 80px 0 20px;
  display: block;
  width: 100%;
  height: 62px;
  border: 4px solid $white;
  border-radius: 10px;
  background-color: $white;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  color: rgba($greyish-brown, 0.3);
  outline: none;

  &::placeholder {
    color: rgba($greyish-brown, 0.3);
  }

  &:hover {
    background-color: $pale-grey;
    border-color: $pale-grey;
    color: rgba($greyish-brown, 0.5);

    &::placeholder {
      color: rgba($greyish-brown, 0.5);
    }
  }

  &:focus,
  &:active {
    background-color: transparent;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  @media (min-width: $tablet) {
    padding: 0 102px 0 35px;
    height: 80px;
    border-radius: 20px;
    font-size: 24px;
  }
}

.sign-up__submit {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 62px;

  @media (min-width: $tablet) {
    width: 82px;
    height: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: $desktop) {
    padding-left: 37px;
    width: 324px;
  }
}

.sign-up__submit-text {
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
  }
}
