.top-panel {
  padding: 20px 25px 0;
  background-color: $dark-two;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;
}

.top-panel__title {
  display: inline-block;
  margin: 0;
  padding-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: $white;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 2.5px;
    background-color: $mango;
  }
}
