.top-panel {
  padding: 20px 25px 12px;
  background-color: $dark-two;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet) {
    padding: 95px 75px 70px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop) {
    padding: 75px 130px 70px;
  }
}

.top-panel__title {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: $white;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 2.5px;
    background-color: $mango;
  }

  @media (min-width: $tablet) {
    font-size: 60px;

    &:after {
      bottom: -73px;
    }
  }
}
