.transport {
  display: block;
  margin: 0 5px;
  width: 26px;
  height: 22px;
  position: relative;
}

.transport__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba($greyish-brown, .3);
}

.transport--available {
  .transport__icon {
    fill: $dark-slate-blue;
  }
}

.transport--companion-card {
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $pale-grey;

  .transport__icon {
    transform:
      translate(-50%, -50%)
      scale(.8);
  }
}

.transport--form-field {
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow .2s ease-in-out;

  .transport__icon {
    fill: rgba($dark-slate-blue, .15);
    transform:
      translate(-50%, -50%)
      scale(.8);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.08);

    .transport__icon {
      fill: rgba($dark-slate-blue, .3);
    }

    .transport__input {
      &:checked {
        + .transport__icon {
          fill: rgba($dark-slate-blue-two, .7);
        }
      }
    }
  }

  &:active {
    background-color: $pale-grey-three;
    box-shadow: none;

    .transport__icon {
      fill: rgba($dark-slate-blue, .1);
    }

    .transport__input {
      &:checked {
        + .transport__icon {
          fill: rgba($dark-slate-blue-two, .3);
        }
      }
    }
  }
}

.transport__input {
  &:checked {
    + .transport__icon {
      fill: $dark-slate-blue;
    }
  }
}
