@mixin placeholder($color: inherit, $font: inherit) {
  &::-webkit-input-placeholder {
      color: $color;
      font-family: $font;
  }

  &::-moz-placeholder {
      color: $color;
      opacity: 1;
      font-family: $font;
  }

  &:-ms-input-placeholder {
      color: $color;
      font-family: $font;
  }

  &:-moz-placeholder {
      color: $color;
      opacity: 1;
      font-family: $font;
  }
}
