html {
  box-sizing: border-box;
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $greyish-brown;
}

body {
  margin: 0;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  cursor: pointer;
}
